html {
  scroll-behavior: smooth;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 0 auto;
  vertical-align: middle;
}

.video-responsive iframe {

  height: 100%;
  width: 100%;
  position: absolute;
  padding: 5rem 11rem;

}

.client-icon a {
  height: auto;
  width: auto;
  align-items: center;
  display: flex;
}

.section.background-dark.full-width img {
  padding: 2rem;
  max-height: 411px;
}