@media (max-width: 767px) {

  .video-responsive iframe {

    height: 100%;
    width: 100%;
    position: absolute;
    padding: 1rem 3rem;

  }

  .margin-left-20 {
    margin-left: 0 !important;
    margin-top: 20px
  }

  .margin-left-60 {
    margin-left: 0 !important;
  }

  .right {
    text-align: center;
    float: none !important;
  }

  .section {
    padding: 3rem 1.25rem;
  }

}