@media (max-width: 767px) {

  .margin-left-20 {
    margin-left: 0 !important;
    margin-top: 20px
  }

  .margin-left-60 {
    margin-left: 0 !important;
  }

  .right {
    text-align: center;
    float: none !important;
  }

  .section {
    padding: 3rem 1.25rem;
  }

}